@page "/matchwinner/{id:int}"
@inject IBattleRepository _battle

<div class="battle-list">
@foreach (var hamster in _battle.Fighters)
{
    <div class="battle-item">
        <h4 class="@(hamster.WinStatus == "Winner" ? "winner" : "loser")">@hamster.WinStatus</h4>
        <p>@hamster.HamsterName</p>
    </div>
    
 }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await _battle.BattleWinner(Id);
    }

}
